# Build artifacts
/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Compiled binaries
*.o
*.obj
*.so
*.a
*.out
*.exe
debugger  # your binary, if it's built in the root folder

# IDE / Editor files
*.swp
*.swo
*.user
*.vcxproj*
.idea/
.vscode/
*.DS_Store

# Personal testing folder
testing/